/* .profile-bg {
    -webkit-text-size-adjust: none;
    /* min-height: 100%;
    height: 100%; 
    overflow-x: hidden;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  form,
  input,
  textarea,
  select {
    margin: 0;
    padding: 0;
  }
  img {
    border: 0;
  }

  a {
    text-decoration: none;
    outline: none !important;
    outline-color: transparent !important;
    cursor: pointer;
  }

  a:link,
  a:hover {
    text-decoration: none;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }

  /* .container {
    max-width: 1250px;
  } */

/*===Profile CSS ====== */
/* .profile-bg {
    background: url('../../assets/images/progile-bg.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
  } 
  .d-table-div {
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  .d-table-cell-div {
    display: table-cell;
    vertical-align: middle;
  }
  .whitebox {
    background: #fff;

    /* width: 100%;
    max-width: 100%;
    height: 62vh;
    max-height: 90vh;
    margin: 0; 

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;

    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  }
  .left-bg {
    /* background: url(../images/left-bg.png) no-repeat left top; 
    background: url('https://lab.bravishma.com:4040/assets/images/left-bg-background.png')
      no-repeat top;
    background-size: 100% 30% !important;
    /* height: 200px !important; 
    /* height: 171px !important; 
    background-size: cover;
  }

  .right-bg {
    background: url('https://lab.bravishma.com:4040/assets/images/right-bg.png')
      no-repeat left top;
    height: 80vh;

    background-size: cover;
  }

  .boder-right {
    border-right: solid 1px #c5c5c5;
  }
  .photo-box {
    display: block;
    text-align: center;
  }
  .photo {
    background: #ececec;
    /* width: 90px;
    border-radius: 100%;
    height: 90px;
    margin: 95px auto 0; 

    width: 70px;
    border-radius: 100%;
    height: 70px;
    margin: 75px auto 0;

    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  }

  .pro-details {
    margin-top: 1rem !important;
  }

  .img-fluid {
    max-width: 70%;
    height: auto;
  }
  .smalltext {
    font-size: 12px;
    color: #505050;
  }
  .name {
    font-size: 13px;
    color: #4f1464;
  }
  .greenbg {
    background: #f0ffe8;
  }
  .yellowbg {
    background: #ffffd8;
  }
  .orangebg {
    background: #fff4e1;
  }
  .redbg {
    background: #ffe8e8;
  }
  .icons {
    border-radius: 50%;
    width: 53px;
    height: 53px;
    margin: 0 auto 5px;
    border: solid 3px #eaeaea;
  }
  .iconbox {
    text-align: center;
    margin-top: 10px;
  }

  .iconbox .dropdown .ngdropdown {
    border: solid 0px red !important;
  }

  .icontext {
    font-size: 11px;
    line-height: 18px;
  }

  /* ::ng-deep .reqModal .modal-dialog {
    height: 200px !important;
  } 

  ::ng-deep .reqModal .modal-content {
    /* height: 120px !important; 
  }

  ::ng-deep .payModal .modal-content {
    /* height: 300px !important; 
  }

  ::ng-deep .outboundNotificationModal .modal-content {
    /* height: 230px !important;   
  }

  .btn-style {
    border: solid 1px #651969;
    /* border-radius: 10px; 
    display: block;
    padding: 7px 9px;
    font-weight: 600;
    color: #7e608b;
    margin-top: 8px;
    font-size: 12px;
  }
  .btn-style img {
    margin-right: 3px;
  }
  .textlink {
    color: #551867;
    text-decoration: underline;
  }

  .sendReqOption {
    cursor: pointer;
  }

  .accordion-button {
    padding: 5px 7px;
    background: #f7f8ff;
    color: #000000;
    font-size: 12px;
  }
  .accordion-button:not(.collapsed) {
    background: #e8eaf7;
    color: #000000;
  }
  .accordion-item {
    margin-bottom: 8px;
    box-shadow: 1px 2px 0px 0px rgba(176, 176, 176, 0.1);
  }
  .accordion-item:first-of-type .accordion-button,
  .accordion-item:first-of-type {
    border-radius: 0px;
  }
  .accordion-button:focus {
    box-shadow: inherit;
  }
  .accordion-body {
    padding: 8px 7px;
    font-size: 11px;
    color: #868686;
    /* line-height: 18px; 
  } */

/*==================================
Commen CSS
================================= */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */

html {
  -webkit-text-size-adjust: none;
  min-height: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  background: #fff;
  font-family: "Roboto", sans-serif;
  height: 100%;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
form,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  outline: none !important;
  outline-color: transparent !important;
}
a:link,
a:hover {
  text-decoration: none;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.container {
  max-width: 1250px;
}

/*==================================
Header CSS
================================= */
header {
}

/*==================================
Banner CSS
================================= */

/*==================================
Content CSS
================================= */

/*===Profile CSS ====== */
.profile-bg {
  background: url("../../assets/images/progile-bg.jpg") left top;
  background-size: cover;
}
.d-table-div {
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.d-table-cell-div {
  display: table-cell;
  vertical-align: middle;
}
.whitebox {
  background: #fff;
  height: 100%;
  margin: 0 auto;
}
/*.left-bg { background: url(../images/left-bg.png) no-repeat left top; background-size:inherit;}*/
.photo-box {
  background: linear-gradient(
    101.91deg,
    #ff0000 -10.89%,
    #ff0844 48.74%,
    #ff6060 96.65%,
    #ffb199 127.16%
  );
}
.right-bg {
  background: url("../../assets/images/right-bg.png") no-repeat left top;
  background-size: cover;
}
.boder-right {
  border-right: solid 1px #c5c5c5;
}
.photo-box {
  display: block;
  text-align: center;
}
.photo {
  background: #ececec;
  padding: 15px;
  width: 90px;
  float: left;
  height: 90px;
  margin: 0 auto; /*-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75); box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75); */
}
.pro-details {
  margin-left: 105px;
  display: block;
  text-align: left;
}
.pro-details a {
  color: #fff;
  margin-top: 4px;
  font-size: 14px;
  display: block;
}
.smalltext {
  font-size: 16px;
  color: #505050;
}
.name {
  font-size: 22px;
  color: #fff;
}
.greenbg {
  background: #f0ffe8;
}
.yellowbg {
  background: #ffffd8;
}
.orangebg {
  background: #fff4e1;
}
.redbg {
  background: #ffe8e8;
}
.icons {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 0 auto 10px;
  border: solid 3px #eaeaea;
}
.iconbox {
  text-align: center;
  margin-top: 30px;
}
.icontext {
  font-size: 14px;
  line-height: 18px;
}
.btn-style {
  border: solid 1px #651969;
  display: block;
  padding: 10px 15px;
  font-weight: 600;
  color: #7e608b;
  margin-top: 10px;
  font-size: 17px;
}
.btn-style img {
  margin-right: 5px;
}
.textlink {
  color: #551867;
  text-decoration: underline;
}
/*==================================
Footer CSS
================================= */

@media (min-width: 576px) {
  /*==Header CSS== */

  /*==Banner CSS== */

  /*==Content CSS== */

  /*==Footer CSS== */
}

@media (min-width: 768px) {
  /*==Header CSS== */
  .pro-details a {
    margin-top: 7px;
    font-size: 16px;
  }

  /*==Banner CSS== */

  /*==Content CSS== */

  /*==Footer CSS== */
}

@media (min-width: 992px) {
  /*==Header CSS== */

  /*==Banner CSS== */

  /*==Content CSS== */

  /*==Footer CSS== */
}

@media (min-width: 1100px) {
  /*==Header CSS== */

  /*==Banner CSS== */

  /*==Content CSS== */

  /*==Footer CSS== */
}

@media (min-width: 1200px) {
  /*== Commen CSS == */

  /*==Header CSS== */

  /*==Banner CSS== */

  /*==Content CSS== */

  /*==Footer CSS== */
}

@media (min-width: 1600px) {
  /*==Header CSS== */

  /*==Banner CSS== */

  /*==Content CSS== */

  /*==Footer CSS== */
}

.accordion-button {
  padding: 10px 15px;
  background: #f7f8ff;
  color: #000000;
  font-size: 16px;
}
.accordion-button:not(.collapsed) {
  background: #e8eaf7;
  color: #000000;
}
.accordion-item {
  margin-bottom: 8px;
  box-shadow: 1px 2px 0px 0px rgba(176, 176, 176, 0.1);
}
.accordion-item:first-of-type .accordion-button,
.accordion-item:first-of-type {
  border-radius: 0px;
}
.accordion-button:focus {
  box-shadow: inherit;
}
.accordion-body {
  padding: 10px 15px;
  font-size: 13px;
  color: #868686;
  line-height: 18px;
}
